<footer>
    <div class="f-info">
        <div class="social">
           <a href="https://www.facebook.com"> <i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
           <a href="https://in.linkedin.com"> <i class="fa-brands fa-linkedin-in"></i></a>

        </div>
        <a id="brand"href="/rent&rest"><div class="brand">&copy;RentNRest pvt-ltd</div></a>
        <div class="links">
            <a href="/privacy">Privacy</a>&nbsp;
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>