<% layout("layouts/boilerplate") %>

<body>
    
    <h3>all listing</h3>
    <!-- <form method="get" action="/listings/new">
        <button>create new listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let allListing of allListings){ %>
        <div class="cd">
            <a href="/listings/<%=allListing._id%>" class="listing-link">
    <div class="card col">
  <img src="<%=allListing.image%>" class="card-img-top" alt="listing-img" style="height: 20rem;">
  <div class="card-body">
    <p class="card-text"> <b><%=allListing.title%> </b><br>
        &#8377 <%=allListing.price.toLocaleString("en-IN")%> / night
    </p>
  </div>
</div>
</a>
</div>
<%}%>
    </div>




</body>
