<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
 <br><h3>Create a new listing</h3><br>
    <form method="post" action="/listings" novalidate class="needs-validation mb-3" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input type="text" name="listing[title]" placeholder="eneter title" class="form-control" required >
        <div class="invalid-feedback">Enter valid title</div>
         <div class="valid-feedback">seems okay</div>
        </div>
        <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" placeholder="eneter description" class="form-control" required ></textarea>
         <div class="invalid-feedback">Enter valid description</div>
         <div class="valid-feedback">seems okay</div>
        </div >
        <div class="mb-3">
        <label for="image" class="form-label">upload image</label>
        <input type="file" name="listing[image]"  class="form-control" required >
        </div>
        <div class="row">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">price</label>
        <input type="" name="listing[price]" placeholder="eneter price" class="form-control"  required>
         <div class="invalid-feedback">Enter valid price</div>
         <div class="valid-feedback">seems okay</div>
        </div>
        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">country</label>
        <input type="text" name="listing[country]" placeholder="eneter country" class="form-control" required>
         <div class="invalid-feedback">Enter valid country</div>
         <div class="valid-feedback">seems okay</div>
        </div>
        </div>
        <div class="mb-3">
        <label for="location" class="form-label" >location</label>
        <input type="text" name="listing[location]" placeholder="eneter location" class="form-control" required >
         <div class="invalid-feedback">Enter valid location</div>
         <div class="valid-feedback">seems okay</div>
        </div>
        <div>
         <div class="mb-3"><label for="category">Choose a category:</label>
            <select id="category" name="listing[category]">
               <option value="mountain">mountains</option>
                <option value="beach">beach</option>
                 <option value="forest">forests</option>
             </select>
            
         </div>
            
        </div>
        
        <button class="btn btn-dark">Add</button>

    </form>
    </div>
    </div>
 </body>   

