<% layout("layouts/boilerplate") %>
<style>
    #img{
        height:400px;
        margin-left: 33%;
    }
    #web{
        text-align: end;
    }

</style>
<img id="img"src="./logo.png" alt="RentNRest">
<div id="web"> This website is created<i>by harshal patil</i></div>
