body {
  font-family: "Plus Jakarta Sans", sans-serif !important; 
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fefefe !important;
}
.container{
    flex:1;
}
.navbar{
    height:5rem;
    background-color: white;
}

.fa-suitcase-rolling{
    color:aqua;
    font-size: 2rem;
}
.nav-link{
    color:#222 !important;
}
.logo{
    height: 75px;
    width:75px ;
}

/* foooter */

.links a {
    text-decoration: none;
    color:#222222;
}

.links a:hover{
    text-decoration: underline;   
}

.f-info{
    display:flex;
    background-color:rgba(128,128,128,0.3) !important ;
    height:8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}


.social i{
    margin-right:1rem;
    font-size: 1.3rem;
}

.social a{
    text-decoration: none;
    color: black;
    opacity: 0.7;
}
.social a:hover{
    opacity: 1;
}
.links,.social,.brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#brand{
    text-decoration: none;
    color:black
}
#brand:hover{
    text-decoration:underline;

}


/* card */

.list-card{
    border:none !important;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 15rem;
    
}

.card-img-top{
border-radius: 1rem !important;
width :100% !important;
object-fit: cover !important; 
}
.card-body{
    padding:0 !important;
}
.card-text{
    font-weight: 300 !important;
}
.listing-link{
    text-decoration: none;
} 

/* card effect */
.cd{
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    border-radius: 10px;
    /* overflow: hidden; */
}
.cd:hover{
    /* transform:scale(1.05); */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
} 

/* show-img */
.show-img{
    height:30vh;
}

/* edit form */

.btns{
    display: flex;
}
/* #del{
    background-color: red !important;
    border-color: white !important;
    border: 2px;
    height: 38px;
    width: 74px !important;
} */


/* cancel */